{% extends 'base.html' %}
{% block title %}کالا جدید{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"> خانه </a></li>
<i class="fa fa-angle-left" aria-hidden="true"></i>
<li class="breadcrumb-item"><a href="{% url 'shop' %}"> فروشگاه </a></li>
<i class="fa fa-angle-left" aria-hidden="true"></i>
<li class="breadcrumb-item active">کالا جدید </li>
{% endblock %}
{% block content %}
<div class="new-post">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn-publish">انتشار</button>
    </form>
</div>
{% endblock %}