{% extends 'base.html' %}
{% load static %}
{% block title %}حساب کاربری{% endblock title%}
{% block content %}
<link rel="stylesheet" href="{% static 'admin/style.css' %}">

<div class="row">
    <!-- menu -->
    {% if user.is_authenticated %}
        <div class="col-md-4">
            <div class="right-menu">
                <img class="user-image" src="{{ user.photo.url }}" alt="">
                <h3 class="user-name">{{ user.username }}</h3>
                <div class="profile-menu">
                    <ul>
                        <li><a href="">پروفایل</a></li>
                        <br/>
                        <li><a href="">دایداری</a></li>
                        <br/>
                        <li><a href="">تنظیمات</a></li>
                        <br/>
                        <li><a href="">دانلود ها</a></li>
                        <br/>
                        <li><a href="{% url 'logout' %}">خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% block page %}
            {% endblock %}
        </div>
    {% endif %}
</div>
{% endblock %}